
__pycache__/
*.py[cod]

venv/
env/
.venv/
env.bak/
venv.bak/

.DS_Store
*.egg-info/
dist/
build/
eggs/
pip-log.txt
pip-wheel-metadata/

.coverage
.coverage.*
*.cover
nosetests.xml
test*.xml
results.xml

.idea/
*.sublime-workspace
*.sublime-project
.vscode/

.ipynb_checkpoints/

.env

*.log
*.sqlite3
*.db
*.bak
*.tmp
